.container {
    display: flex;
    flex-direction: column;
    gap: 10px;
    .row {
        display: flex;
        justify-content: space-between;
        align-items: center;
        label,
        button {
            flex: 1;
        }
        input,
        select {
            flex: 2;
            margin: 0 10px;
        }
    }
    
}

