<div class="container">
  <div class="row">
    <label for="managerSelect">Wybierz menedżera:</label>
    <select id="managerSelect" [(ngModel)]="selectedManager" (ngModelChange)="setSelectedManager($event)">
      <option *ngFor="let manager of managers" [ngValue]="manager">
        {{ manager.getName() }}
      </option>
    </select>
  </div>


  <div class="row">
    <label for="managerName">Name manager: </label>
    <input type="text" id="managerName" name="managerName" [(ngModel)]="managerName">
    <button (click)="addManager(managerName)">Add Manager</button>
  </div>
  <div class="row" *ngIf="selectedManager">
    <label for="employeeNeme">Name employee: </label>
    <input type="text" id="employeeNeme" name="employeeNeme" [(ngModel)]="employeeNeme">
    <button (click)="addEmployeeForManager(employeeNeme)">
      Add Employee for Manager
    </button>
  </div>
  <hr>
  <ul>
    <ng-container *ngIf="tree">
      <app-tree-node [node]="tree"></app-tree-node>
    </ng-container>
  </ul>
</div>